#kontakt{
    width: var(--screen-width);
    min-width: var(--minWidth);
    max-width: var(--maxWidth);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
#kontaktSide{
    width: var(--screen-width);
    min-width: var(--minWidth);
    max-width: var(--maxWidth);
    margin: var(--margin-top-medium) auto;

    display: flex;
    gap: 100px;
}
.kontaktRight{
    width: 100%;
}
.kontaktRight h2{
    font-size: var(--fontsize-title-medium);
    font-weight: 900;
    font-family: "Inter", sans-serif;
}
.kontaktRightTop p{
    font-size: var(--fontsize-text-big);
    font-weight: 400;
    
}
.kontaktRightBottom{
    margin-top: 100px;
}
.abningstiderContainer{
    display: flex;
}
.kontaktBottom{
    
    margin-top: 20px;
}
.kontaktBottomTitel{
    
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.kontaktBottomTekst{
   font-size: 24px;
   color: var(--main-color); 
   
}
.kontaktBottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
#booking{
    width: 100%;
    height: 80vh;
    background: linear-gradient(45deg, #CC4D00 0%, #993A00 100%);
    
    justify-content: center;
    display: flex;
    color: #eeeeee;
}
.bookingContent{
    width: var(--screen-width);
    height: calc(100% - 100px);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.bookingLeft{
    height: 100%;
    flex-basis: 55%;
    overflow: hidden;
}

.bookingTitle{
    font-size: 40px;
    font-weight: 700;
    
}
.bookingSubTitle{
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
}

.bookingLine{
    width: 40%;
    height: 3px;
   background: #ffffff;
   margin-top: 30px;
}
.bookingText{
    height: 80%;
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}
.bookingText1{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.bookingText2{
    flex-grow: 2;
   display: flex;
   justify-content: space-between;
}
.bookingText3{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.bookingTextLeft{
    height: 100%;
    flex-basis: 10%;
}
.bookingTextLeft h1{
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 96px;
}
.bookingTextRight h4{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.bookingTextRight{
    height: 100%;
    flex-basis: 90%;
}
.bookingRight{
    height: 100%;
    flex-basis: 35%;
    
    display: flex;
    align-items: center;

}
.formularContainer{
    width: 100%;
    height: fit-content;
    

}
.inputContainer{
    position: relative;
    margin-bottom: 50px;
}
.inputContainer label{
    font-size: 24px;
    font-weight: 700;
    position: absolute; /* Position the label relative to the container */
  top: -18px; /* Adjust this value to move the label up */
  left: 0; /* Adjust this to move it left/right */
  width: 100%;
  padding-left: 30px;

}
.nameInput{
    background: none;
    border: 2px solid white;
    border-radius: 15px ;
    width: 100%;
    height: 60px;
    border-top: 0.5px solid transparent; 
}
.nameInput::placeholder{
    color: white;
    padding-left: 30px;
    font-size: 16px;
}

.inputContainer label::before {
  content: '';
  position: absolute;
  top: 60%;
  width: 7px; /* Adjust the length of the lines as needed */
  height: 2px;
  background: white;
  transform: translateY(-50%);
}
.inputContainer label::after {
  content: '';
  position: absolute;
  top: 60%;
  width: 77%; /* Adjust the length of the lines as needed */
  height: 2px;
  background: white;
  transform: translateY(-50%);
}

.inputContainer label::before {
  left: 8px; /* Position the left line */
}

.inputContainer label::after {
  right: 8px; /* Position the right line */
}

.twoinputsContainer{
    display: flex;
    width: 100%;
    gap: 30px;
}
.shortInput{
    background: none;
    border: 2px solid white;
    border-radius: 15px ;
    width: 100%;
    height: 60px;
    border-top: 0.5px solid transparent; 
}
.shortInput::placeholder{
    color: white;
    padding-left: 30px;
    font-size: 16px;
}
.inputRight{
    width: 100%;
}
.inputLeft{
    width: 100%;
}

#shortInput1 label::after{
  width: 50%;
}
#shortInput2 label::after{
  width: 40%;
}
#inputStor input{
height: 150px;
}
#inputStor label::after{
    width: 60%;
}
.bigInput{
    background: none;
    border: 2px solid white;
    border-radius: 15px ;
    width: 100%;
    height: 60px;
    border-top: 0.5px solid transparent; 
}
.bigInput::placeholder{
    color: white;
    padding-left: 30px;
    font-size: 16px;
    vertical-align: top;
}
.inputBtn{
    height: 40px;
    width: 250px;
    border-radius: 25px;
    background-color: #00000040;
    backdrop-filter: blur(4px);
    color: #ffffff;
    border-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-left: auto;
}
.inputBtn p{
   font-size: 20px;
    font-weight: 700; 
    text-align: center;
}